<div class="app-head">
  <app-navbar></app-navbar>
  <div class="top-body">
    <img src="assets/svg/left-image.svg">
    <img src="assets/svg/right-image.svg">
  </div>
  
  <div class="customize1">
    <img src="assets/svg/customize1-left.svg">
    <img src="assets/svg/customize1-right.svg">
  </div>
  <div class="customize1-mobile">
    <div class="title">Customize the way you like</div>
    <div class="border">
      <div class="header">
        <div class="flex">
          <span class="toggle"><i class="fa fa-toggle-on"></i></span>
          <div class="feature-title">Turn Off-On the features
            <div class="sub-header">
              Mevolve was developed to help you reach 
              your goals and be more consistent.
            </div>
          </div>
        </div>
        <span class="expanded"><i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
      </div>
      
      <img src="assets/svg/customize1-left.svg">
    </div>
    <div class="border flex justify-between">Light and Dark mode<i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <div class="border flex justify-between">Multi-theme colors<i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
  </div>

  <div class="customize2">
    <img src="assets/svg/customize1-right.svg">
    <img src="assets/svg/customize2-left.svg">
  </div>
  <div class="customize2-mobile">
    <div class="title">Customize the way you like</div>
    <div class="border">
      <div class="header">
        <div class="flex">
          <span class="toggle"><i class="fa fa-toggle-on"></i></span>
          <div class="feature-title">Turn Off-On the features
            <div class="sub-header">
              Mevolve was developed to help you reach 
              your goals and be more consistent.
            </div>
          </div>
        </div>
        <span class="expanded"><i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
      </div>
      
      <img src="assets/svg/customize2-left.svg">
    </div>
    <div class="border flex justify-between">Light and Dark mode<i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
    <div class="border flex justify-between">Multi-theme colors<i class="fa fa-caret-down" aria-hidden="true"></i>
    </div>
  </div>
</div>

<router-outlet></router-outlet>