<div class="app-head">
  <app-navbar></app-navbar>
  <div class="top-body">
    <img src="assets/svg/left-image.svg">
    <img src="assets/svg/right-image.svg">
  </div>
  
  <div class="customize1">
    <img src="assets/svg/customize1-left.svg">
    <img src="assets/svg/customize1-right.svg">
  </div>
  <div class="customize1-mobile">
    <div class="title">Customize the way you like</div>
    <div>
      <img src="assets/svg/customize1-top.svg">
      <img src="assets/svg/customize1-left.svg">
    </div>
    <div>Light and Dark mode</div>
    <div>Multi-theme colors</div>
  </div>

  <div class="customize2">
    <img src="assets/svg/customize1-right.svg">
    <img src="assets/svg/customize2-left.svg">
  </div>
  <div class="customize2-mobile">
    <div class="title">Customize the way you like</div>
    <div>
      <img src="assets/svg/customize1-top.svg">
      <img src="assets/svg/customize2-left.svg">
    </div>
    <div>Light and Dark mode</div>
    <div>Multi-theme colors</div>
  </div>
</div>

<router-outlet></router-outlet>